@model Projeto.Loja.Models.VendasCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input id="itemAdd" name="itemAdd" value="@ViewBag.ItemsAdd" class="form-control" hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.DropDownList("selectProdutos", new SelectList(ViewBag.produtos, "Id", "Nome"))
            <div class="form-group">
                <label asp-for="QtdProduto" class="control-label"></label>
                <input asp-for="QtdProduto" class="form-control" />
                <span asp-validation-for="QtdProduto" class="text-danger"></span>
            </div>
            <div class="form-group" id="item_add">
                <ul>
                </ul>
            </div>
            @if (Model.VendaTotal >= 0) {
                <div class="form-group">
                    <p>Valor Total: R$ @Model.VendaTotal</p>
                    <input asp-for="VendaTotal" value="@Model.VendaTotal" class="form-control" hidden="hidden" />
                </div>
            }
            @if (Model.VendaTotal <= 0) {
                <div class="form-group">
                    <input id="addProd" value="Adicionar Produto" class="btn btn-primary" />
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Criar Venda" class="btn btn-primary" />
                </div>
            }
            else {
                <div class="form-group">
                    <input type="submit" value="Finalizar" class="btn btn-primary" />
                </div>
            }
        </form>
        @if (ViewBag.Erro != null) {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Erro
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var items = "";
            $("#addProd").click(function () {
                var produtoNome = $("#selectProdutos option:selected").text();
                var produtoId = $("#selectProdutos option:selected").val();
                var qtde = $("#QtdProduto").val();
                console.log(produtoNome)
                console.log(produtoId)
                console.log(qtde)
                $("#item_add ul").append("<li>Produto: " + produtoNome + " - Qtde: " + qtde + " </li>")

                for (var i = 0; i < qtde; i++) {
                    if (items == "") {
                        items = produtoId;
                    } else {
                        items = items + "," + produtoId;
                    }
                }
                console.log(items);
                $("#itemAdd").val(items);
                console.log($("#itemAdd"));


            })
        });
    </script>
}
